body {
	background-color: hsl(30, 38%, 92%);
	font-family: 'Outfit', sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh;
	align-items: center;
	justify-items: center;
}


.grid-container {
	margin: auto;
  display: inline-grid;
  grid-template-columns: auto auto;
	border-radius: 10px;
	max-width: 600px;
}

.grid-item {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid rgba(0, 0, 0, 0.8);
	max-width: 100%;
}
.attribution {
	font-size: 11px; text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

img {
	float: left;
	max-width: 100%;
}

text {
	float: right;
	max-width: 50%;
}

h1 {
	font-weight: 700;
	font-size: 22px;
	color: hsl(218, 44%, 22%);
	text-align: center;
	width: 288px;
	margin-left: 16px;
	margin-right: 16px;
}

p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
	text-align: center;
	width: 256px;
	margin-left: 32px;
	margin-right: 32px;
}
