body {
	background-color: hsl(212, 45%, 89%);
	font-family: 'Outfit', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card {
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px;
	width: 320px;
	height: 497px;
	text-align: center;
	top: 16px;
}

img {
	max-width: 288px;
	max-height: 288px;
	border-radius: 20px;
}

h1 {
	font-weight: 700;
	font-size: 22px;
	color: hsl(218, 44%, 22%);
	text-align: center;
	width: 288px;
}

p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
	text-align: center;
	max-width: 256px;
}
